@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@source "../views";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer utilities {
    .opacity-0 {
        opacity: 0 !important;
    }
    .transition-opacity {
        transition: opacity 1s ease;
    }
}


/* Define Color Palette */
:root {
    --primary-color: #A98018;
    --secondary-color: #DAA520;
    --login-bg-color: rgba(169, 128, 24, 0.6);

    --login-color-left: #FDC10B;
    --login-color-right: #6C5903;

    --forgot-color-text: white;
    --forgot-color-bg: black;
}

/* Student Theme */
[data-theme="student"] {
    --primary-color: #A98018;
    --secondary-color: #DAA520;
    --login-bg-color: rgba(169, 128, 24, 0.6);

    --login-color-left: #FDC10B;
    --login-color-right: #6C5903;

    --forgot-color-text: white;
    --forgot-color-bg: black;
}

/* Admin Theme */
[data-theme="admin"] {
    --primary-color: #4D0F0F;
    --secondary-color: #781212;
    --login-bg-color: rgba(77, 15, 15, 0.6);

    --login-color-left: #270103;
    --login-color-right: #4E020C;

    --forgot-color-text: black;
    --forgot-color-bg: white;
}

input:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}

/* Define the font family */
@font-face {
    font-family: 'Marcellus SC';
    src: url('../font/MarcellusSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend';
    src: url('../font/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



body {
    font-family: 'Manrope', sans-serif;
}

